<div class="development-module" data-ng-controller="development-controller">
    <p class="page-description">The following shows the development path of the game.</p>
    @*<p class="small-text">For a detailed view of this list visit <a href="https://trello.com/b/S6LIncuR">Map of Kings Trello Board</a>.</p>*@

    <div class="menu-section">
        <span data-ng-repeat="release in releaseList">
            <a class="item normal-text" data-ng-class="{selected: currentRelease === release }" data-ng-href="#/development/{{release.id}}">{{release.name}}</a>
        </span>
    </div>
    <div data-ng-switch="displayType">
        <div class="fade-animation" data-ng-switch-when="content">
            <p class="small-text"><strong>Goal: </strong><span>{{currentRelease.goal}}</span></p>

            <div class="estimates small-text">
                <div class="item">
                    <strong>Start Date: </strong>
                    <span>{{currentRelease.startDate | date:'longDate'}}</span>
                </div>
                <div class="item">
                    <strong>Deadline: </strong>
                    <span>{{currentRelease.deadline | date:'longDate'}}</span>
                </div>
                <div class="item">
                    <strong>Total Estimated Hours Left: </strong>
                    <span>{{currentRelease.totalWorkloadHrs}}</span>
                </div>
                <div class="item">
                    <strong>Hours per Week to reach Goal: </strong>
                    <span>{{currentRelease.hrsPerWeek}}</span>
                </div>
                <div class="item">
                    <strong>Trello Board: </strong>
                    <span><a href="https://trello.com/b/{{currentRelease.trelloId}}">{{currentRelease.name}}</a></span>
                </div>
            </div>
            <div>@*divider*@</div>
            <div class="mission-list">
                <div data-ng-repeat="card in currentRelease.doneCards" class="fa fa-check-square-o">{{card.name}}</div>
                <div data-ng-repeat="card in currentRelease.todoCards" class="fa fa-square-o">{{card.name}}</div>
            </div>
        </div>
        <div class="error-color fade-animation error-message" data-ng-switch-when="error">
            <i class="fa fa-warning-sign"></i>
            <p>An error occurred.</p>
            <p>Please try again later or visit our <a href="https://trello.com/b/{{currentRelease.trelloId}}">{{currentRelease.name}} Trello Board</a> for the latest on the development of our game.</p>
        </div>
        <div class="loading-icon fade-animation" data-ng-switch-when="loading">
            <i class="fa-spinner fa-spin fa"></i>
        </div>
    </div>
</div>
