<div class="subscribe-module" data-ng-controller="subscribe-controller">
    <p>Follow the development of Organizam.</p>

    <div class="email">
        <span class="label">Email: </span>
        <input class="input" type="text" data-ng-model="email" />
        <span class="button" data-ng-click="submitEmail()">Submit</span>
    </div>

    <p data-ng-show="subscribeSuccessful" class="success-color">
        <span class="fa fa-check"></span>
        Success! You have been added to our subscription list.
    </p>
    <p data-ng-show="subscribeFailed" class="error-color">
        <span class="fa fa-times"></span>
        {{errorMessage}}
    </p>

    @*<a class="tile link-button" target="_blank" href="https://www.facebook.com/organizamgame">
        <span class="fa-facebook fa"></span>
        <div>Facebook</div>
    </a>*@
    @*<a class="tile link-button" target="_blank" href="https://twitter.com/VakeyRujevic">
        <span class="fa-twitter fa"></span>
        <div>Twitter</div>
    </a>*@
    @*<a class="tile link-button" target="_blank" href="https://plus.google.com/u/0/b/113090107230677280575/113090107230677280575">
        <span class="fa-google-plus fa"></span>
        <div>Google+</div>
    </a>*@
    @*<a class="tile link-button" target="_blank" href="http://organizamgame.tumblr.com/">
        <span class="fa-tumblr fa"></span>
        <div>Tumblr</div>
    </a>*@
</div>
