@text-color: #636363;
@link-color: #4DA8BA;
@link-hover-color: #FFFFFF;
@error-color: #C74949;
@success-color: green;

.error-color {
    color: @error-color;
}

.success-color {
    color: @success-color;
}

.link-hover-color {
    color: @link-hover-color;
}

.link-color {
    color: @link-color;
}